.header {
	display: flex;
	justify-content: center;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	background: var(--main-bg);
}

.header_large {
	padding-top: 25px;
}

.header_size_small {
	padding-bottom: 62px;
	background: transparent;
}
.header__logo {
	display: flex;
	align-items: center;
}
.header__img {
	fill: var(--font-color);
}

.header__menu-open{
	display: none;
}

.header__title {
	font-weight: 500;
	font-size: 50px;
	color: var(--grey-4);
	margin: 0;
}

.header__title-page {
	margin: 40px 0;
}


.header__top {
	display: flex;
	flex-wrap: nowrap;
}
.header-toggle {
	display: inline-block;
	margin-left: 92px;
	position: relative;
}

.header-toggle__image {
	display: inline-block;
	width: 24px;
	height: 24px;
}

.header-toggle__input {
   position: absolute;
   outline: none;
   clip: rect(0,0,0,0);
}

.header-toggle__state {
   display: flex;
   align-items: center;
   gap: 12px;
   cursor: pointer;
	margin-right: 32px;
}

.header-toggle__control {
   position: relative;
   display: flex;
   box-sizing: border-box;
   width: 52px;
   height: 28px;
   background: var(--white);
   border: 1px solid var(--grey-2);
   border-radius: 16px;
}

.header-toggle__icon {
	display: inline-block;
	position: absolute;
	left: 2px;
	top: calc(50%  - 24px/2);
   width: 24px;
   height: 24px;
   background-color: var(--grey-2);
	border-radius: 16px;
	transform: translate(0);
}

.header-toggle__input:checked ~ .header-toggle__state .header-toggle__control {
   background: var(--primary-2);
   border-color: var(--primary-2);
}

.header-toggle__input:checked ~ .header-toggle__state .header-toggle__icon {
   background-color: var(--light-bg);
	left: 26px;
}

.header-toggle__image {
	position: absolute;
}

.header-toggle__image_sun {
	top: 2px;
	right: 90px;
}

.header-toggle__image_moon {
	top: 2px;
   left: 60px;
}

@media (max-width: 610px) {
	.header__title {
		font-size: 42px;
		margin-left: 16px;
	}

	.header__menu-open {
		display: block;
		border: none;
		position: absolute;
		background: transparent;
		padding: 5px 26px;
	}

	.header__logo {
		margin: 0 auto;
	}
	.header__top {
		display: none;
	}
}

@media (max-width: 410px) {
	.header__title {
		font-size: 28px;
		line-height: 38px;
	}
}
