.header {
	display: flex;
	justify-content: center;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	background: var(--main-bg);
}

.header_large {
	padding-top: 25px;
}

.header_size_small {
	padding-bottom: 62px;
	background: transparent;
}
.header__logo {
	display: flex;
	align-items: center;
}
.header__img {
	color: var(--font-color);
}

.header__menu-open{
	display: none;
}

.header__title {
	font-weight: 500;
	font-size: 50px;
	color: var(--font-color);
	margin: 0;
}

.header__title-page {
	margin: 40px 0;
}

@media (max-width: 610px) {
	.header__title {
		font-size: 42px;
		margin-left: 16px;
	}

	.header__menu-open {
		display: block;
		border: none;
		background: transparent;
		margin-left: 14px;
	}

	.header__logo {
		margin: 0 auto;
	}
}

@media (max-width: 410px) {
	.header__title {
		font-size: 28px;
		line-height: 38px;
	}
}
