.tab__radio {
	position: absolute;
	clip: rect(0,0,0,0);
	outline: none;
}

.tabs__menu {
	max-width: 1110px;
	margin: 0 auto;
	height: 40px;
	width: 100%;
	display: flex;
	gap: 40px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Inter';
	font-style: normal;
}

.tabs__element {
	position: relative;
	cursor: pointer;
	color: var(--text-secondary);
	padding-bottom: 8px;
} 

#all-tab:checked ~ .tabs__menu .tabs__element[for="all-tab"],
#elements-tab:checked ~ .tabs__menu .tabs__element[for="elements-tab"],
#containers-tab:checked ~ .tabs__menu .tabs__element[for="containers-tab"],
#templates-tab:checked ~ .tabs__menu .tabs__element[for="templates-tab"] {
	color: var(--active-text-color);
}

#all-tab:checked ~ .tabs__menu .tabs__element[for="all-tab"]::after,
#elements-tab:checked ~ .tabs__menu .tabs__element[for="elements-tab"]::after,
#containers-tab:checked ~ .tabs__menu .tabs__element[for="containers-tab"]::after,
#templates-tab:checked ~ .tabs__menu .tabs__element[for="templates-tab"]::after {
	content: "";
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	top: 100%;
	color: var(--active-text-color);
	background-color: var(--active-text-color);
}

.tabs__menu > .tabs__element::after {
	display: none;
}
.preview__cards,
.tabs__content  {
	display: none;
}

#all-tab:checked ~ .preview > .container .preview__cards {
	display: flex;
}

#elements-tab:checked ~ .preview > .container .tabs__content_complex,
#containers-tab:checked ~ .preview > .container .tabs__content_simple,
#templates-tab:checked ~ .preview > .container .tabs__content_templates {
	display: flex;
}
