.card {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	padding: 32px 25px;
	width: 350px;
	height: 367px;
	background: var(--card-bg);
	box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
	border-radius: 12px;
}

.card__wrapper {
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.card__info {
	font-family: 'Roboto';
	font-style: normal;
	color: var(--font-color);
	text-align: center;
}

.card__title {
	font-weight: 500;
	font-size: 21px;
	line-height: 25px;
	margin-bottom: 6px;
}

.card__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}

.card__wrapper_histogram {
	align-items: stretch;
}

@media (max-width: 735px) {
	.card {
		width: 270px;
		height: 300px;
	}
}

@media (max-width: 610px) {
	.card {
		width: 190px;
		height: 300px;
	}
	
	.card__title {
		font-size: 16px;
		line-height: 24px;
	}

	.card__text {
		font-size: 14px;
		line-height: 22px;
	}
}

@media (max-width: 410px) {
	.card {
		width: 164px;
		height: 231px;
	}

	.card__title {
		font-size: 14px;
	}

	.card__text {
		font-size: 12px;
	}
}