/* Стилизация аккордеона */
.accordion-item {
	border: 1px solid #ACB5BD;
	border-radius: 8px;
	max-width: 579px;
}

.accordion-item[open] .accordion-item_marker {
	transform: rotate(180deg);
}

.accordion-item_title {
	display: flex;
	justify-content: space-between;
	color: #212429;
	padding: 24px 32px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}


.accordion-item_text{
	padding: 0 32px 32px 32px;
	color: #495057;
	margin: 0;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.accordion-item {
	margin-bottom: 8px;
}

.accordion-item:last-child {
	margin-bottom: 0;
}