.checkbox {
	display: inline-block;
	position: relative;
}

.checkbox__input {
	position: absolute;
	outline: none;
	clip: rect(0,0,0,0);
}

.checkbox__state {
	display: flex;
	align-items: center;
	gap: 12px;
	cursor: pointer;
}

.checkbox__control {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 28px;
	height: 28px;
	background: var(--main-bg);
	border: 1px solid var(--grey-2);
	border-radius: 4px;
}

.checkbox__icon {
	display: none;
	width: 24px;
	height: 24px;
	fill: var(--main-bg);
}

.checkbox__title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: var(--font-color);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
	background: var(--primary-2);
	border-color: var(--primary-2);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
	display: block;
}

.checkbox__input:focus ~ .checkbox__state .checkbox__title {
	text-decoration: underline;
}


.checkbox__input:disabled ~ .checkbox__state .checkbox__icon{
	background: var(--border-preview);
	cursor: default;
}
.checkbox__input:disabled ~ .checkbox__state {
	cursor: default;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__title{
	cursor: default;
	color: var(--grey-2);
}

.checkbox__elements {
	display: flex;
	flex-direction: column;
	gap: 10px;
}