.avatar {
	width: 102px;
	height: 102px;
}

.avatar__img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	object-fit: cover;
}

.avatar_page {
	margin-top: 26px;
	width: 160px;
	height: 160px;
}

@media (max-width: 610px) {
	.avatar_page {
		width: 116px;
		height: 116px;
		margin-top: 0;
	}
}
