.avatar {
	width: 162px;
	height: 162px;
}

.avatar__img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	object-fit: cover;
}


@media (max-width: 610px) {
	.avatar {
		width: 116px;
		height: 116px;
	}
}
