.navbar {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.navbar__wrapper {
	display: flex;
	flex-wrap: nowrap;
}
.navbar__menu {
	display: flex;
	gap: 24px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}
.navbar__link {
	list-style: none;
	text-decoration: none;
	color: var(--grey-7);
}

.navbar__link:hover {
	color: var(--black);
}

.navbar__checkbox {
	display: inline-block;
	margin-left: 56px;
	width: 20px;
	height: 20px;
	background-color: blue;
}

.navbar__toggle {
	display: inline-block;
	align-items: center;
	margin-left: 57px;
}

@media (max-width: 610px) {
	.navbar__wrapper {
		display: none;
	}
}