.navbar {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.navbar-wrapper {
	display: flex;
	flex-wrap: nowrap;
}
.navbar-menu {
	display: flex;
	gap: 24px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}
.navbar-menu__item a {
	list-style: none;
	text-decoration: none;
	color: var(--grey-7);
}

.navbar-menu__item a:hover {
	color: var(--black);
}


.checkbox {
	display: inline-block;
	margin-left: 56px;
	width: 20px;
	height: 20px;
	background-color: blue;
}