.navbar {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.navbar__wrapper {
	display: flex;
	flex-wrap: nowrap;
}
.navbar__menu {
	display: flex;
	gap: 24px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}
.navbar__link {
	list-style: none;
	text-decoration: none;
	color: var(--navbar-color);
}

.navbar__link:hover {
	color: var(--font-color);
}

.navbar__toggle {
	display: inline-block;
	margin-left: 56px;
}

.navbar__toggle .toggle__image {
	display: inline-block;
	width: 24px;
	height: 24px;
}

.navbar__toggle .toggle {
   display: inline-block;
   position: relative;
}

.navbar__toggle .toggle__input {
   position: absolute;
   outline: none;
   clip: rect(0,0,0,0);
}

.navbar__toggle .toggle__state {
   display: flex;
   align-items: center;
   gap: 12px;
   cursor: pointer;
}

.navbar__toggle .toggle__control {
   position: relative;
   display: flex;
   box-sizing: border-box;
   width: 52px;
   height: 28px;
   background: var(--white);
   border: 1px solid var(--grey-2);
   border-radius: 16px;
}

.navbar__toggle .toggle__icon {
	display: inline-block;
	position: absolute;
	left: 2px;
	top: calc(50%  - 24px/2);
   width: 24px;
   height: 24px;
   background-color: var(--toggle-icon);
	border-radius: 16px;
	transform: translate(0);
}

.navbar__toggle .toggle__input:checked ~ .toggle__state .toggle__control {
   background: var(--primary-2);
   border-color: var(--primary-2);
}

.navbar__toggle .toggle__input:checked ~ .toggle__state .toggle__icon {
   background-color: var(--light-bg);
	left: 26px;
}

@media (max-width: 610px) {
	.navbar__wrapper {
		display: none;
	}
}