.tooltip {
	display: inline-block;
	position: relative;
}

.tooltip__trigger {
	cursor: pointer;
	width: 24px;
	height: 24px;
	fill: var(--trigger-color);
}

.tooltip__helper {
	padding: 13px 21px;
	background: var(--primary);
	box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
	border-radius: 10px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: var(--grey-2);
	position: absolute;
	bottom: calc(100% + 10px);
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	transition: 0.3s;
	opacity: 0;
}

.tooltip__helper::before {
	content: "";
	border: 10px solid transparent;
	border-top: 6px solid var(--primary);
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.tooltip__trigger:hover ~ .tooltip__helper {
	opacity: 1;
}

.tooltip_page {
	padding-top: 120px;
}

.tooltip__helper_opened {
	opacity: 1;
	bottom: calc(16% + 10px);
}


.tooltip_element {
	margin: 60px 0 0 60px;
}

@media (max-width: 610px) {
	.tooltip__helper {
		padding: 4px 10px;
		font-size: 13px;
	}
	
}


