
.tab__radio {
	position: absolute;
	clip: rect(0,0,0,0);
	outline: none;
}

.tabs__menu {
	height: 40px;
	width: 100%;
	display: flex;
	gap: 40px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Inter';
	font-style: normal;
}

.tabs__element {
	position: relative;
	cursor: pointer;
	color: var(--grey-3);
	padding-bottom: 8px;
}

.tabs__menu > .tabs__element::after {
	content: "";
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	top: 100%;
	color: var(--black);
	background: var(--black);
}

.tabs__menu .tabs__element[for="#all-tab"]::after {
	content: "";
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	top: 100%;
	color: var(--black);
	background: var(--black);
}






