.skeleton {
	box-sizing: border-box;
	background: #ffffff;
	border: 1px solid #ACB5BD;
	border-radius: 8px;
	padding: 24px 40px 32px 24px;
}
.skeleton__top {
	display: flex;
	align-items: center;
}
.skeleton__circle {
	background: #DDE2E5;
	width: 64px;
	height: 64px;
	border-radius: 50%;
}

.skeleton__line {
	flex-direction: column;
	width: 100%;
	margin-left: 16px;
}
.skeleton__line_small {
	width: 33%;
	height: 20px;
	background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__line_medium {
	margin-top: 8px;
	width: 49%;
	height: 20px;
	background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}
.skeleton__bottom {
	flex-direction: column;
	margin-top: 24px;
	padding-bottom: 8px;
}
.skeleton__bottom_large { 
	margin-bottom: 8px;
	width: 100%;
	height: 20px;
	background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
} 

.skeleton__bottom_large:nth-child(2) { 
	margin-bottom: 0;
} 