.modal__btn-close {
	width: 20px;
	height: 20px;
	padding: 15px 15px 0 0;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(196, 196, 196, 1);
}
.modal__body {
	position: absolute;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	font-family: 'Inter';
	font-style: normal;
	max-width: 428px;
	background: var(--main-bg);
	border-radius: 8px;
}

.modal__top {
	display: flex;
	justify-content: space-between;
	padding-bottom: 0;
}
.modal__top-title {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: var(--text-color);
	margin-top: 30px;
}
.modal__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: var(--modal-text-color);
	padding: 14px 40px 33px 40px;
}

.modal_page {
	position: relative;
	width: 100%;
	height: 70%;
}

.modal_page .modal__btn-close {
	padding: 2px;
	border: none;
	background: transparent;
}

.modal_page .modal__top-title {
	font-size: 16px;
	line-height: 16px;
	margin-top: 15px;
}

.modal_page .modal__text {
	font-size: 10px;
	line-height: 16px;
	padding: 10px 0 15px 0;
}
.modal_page .modal__body {
	width: 80%;
	height: 80%;
	padding: 10px;
	pointer-events: none;
}

.modal_page .input__block {
	padding: 5px;
}

.modal__body .formgroup__label {
	font-size: 8px;
}


@media (max-width: 735px) {
	.modal_page .modal__body {
		width: 80%;
		height: 70%;
	}

	.modal_page .modal__body {
		max-width: 140px;
	}
	
	.modal_page .modal__top-title {
		font-size: 8px;
		line-height: 10px;
		margin: 10px 0 0 10px;
	}

	.modal_page .modal__text {
		font-size: 6px;
		line-height: 8px;
		padding: 8px;
	}

}

@media (max-width: 610px) {
	.modal_page .modal__text {
		font-size: 6px;
		line-height: 6px;
		padding: 8px;
	}
}

@media (max-width: 410px) {
	.modal_page .modal__text {
		font-size: 3px;
	}
}