body,
html {
	margin: 0;
	height: 100%;
}
.page {
	display: grid;
	height: 100%;
	grid-template-rows: auto 1fr auto;
	background: #E5E5E5;
}
.container {
	width: 100%;
	max-width: 1110px;
	margin: 0 auto;
}
.page__header {
	height: 82px;
	background: #ffffff;
}
.page__header-logo {
	margin-top: 24px;
}
.page__wrapper {
	height: 100%;
	display: grid;
	width: 100%;
	grid-template-columns: auto 1fr;
	grid-column-gap: 50px;

}

.page__menu {
	margin-top: 62px;
	width: 229px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
}

.page__menu-components-title {
	font-size: 20px;
	line-height: 26px;
	color: #000000;
	margin-bottom: 16px;
}

.page__menu-components-item {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: #212429;
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 4px;
}

.page__menu-components-item:last-child {
	margin-top: 30px;
}

.component {
	width: 100%;
	height: 100%;
	margin: 36px 0 92px;
	
}
.component__wrapper {
	height: 746px;
	padding: 32px 48px;
	background: #FFFFFF;
	box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
	border-radius: 12px;
}

.component__title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 38px;
	color: #495057;
}

.page__footer {
	text-transform: uppercase;
	display: flex;
	padding: 92px 0 56px;
	letter-spacing: 0.04em;
	color: #ACB5BD;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.04em;
}


.histogam {
	top: 24px;
	max-width: 300px;
	padding: 16px 24px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	box-sizing: border-box;
	background: #FFFFFF;
	border: 1px solid #ACB5BD;
	border-radius: 8px;
}
.histogram__top {
	display: flex;
	justify-content: space-between;
}
.histogram__top_orders {
	color: #212429;
}
.histogram__top_orders .title{
	margin: 0;
	font-size: 16px;
	line-height: 24px;
	opacity: 0.8;
}
.histogram__top_orders .subtitle {
	margin-top: 6px;
	font-size: 20px;
	line-height: 26px;
}

.histogram__top_view {
	text-decoration: none;
	color: #4263EB;
}
.histogram__bottom {
	margin-top: 39px;
}

.histogram__block {
}
.hictogram__chart {
	display: flex;
	gap: 1px;
	height: 50px;
	align-items: flex-end;
}
.histogram__column {
	width: 9px;
	background: #4263EB;
}