body,
html {
	margin: 0;
	height: 100%;
	background: #E5E5E5;
}
.page {
	display: grid;
	height: 100%;
	grid-template-rows: auto 1fr auto;
}
.container {
	width: 100%;
	max-width: 1110px;
	margin: 0 auto;
}
.page__header {
	height: 82px;
	background: #ffffff;
}
.page__header_logo {
	margin-top: 24px;
}
.page__wrapper {
	height: 100%;
	display: grid;
	width: 100%;
	grid-template-columns: auto 1fr;
	grid-column-gap: 50px;

}

.page__menu {
	margin-top: 62px;
	width: 229px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
}

.page__menu_title {
	font-size: 20px;
	line-height: 26px;
	color: #000000;
	margin-bottom: 16px;
}

.page__menu_item {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: #212429;
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 4px;
}
.page__menu_item-red {
	color: #D84910;
}

.page__menu_item-bottom {
	margin-top: 30px;
}

.component {
	width: 100%;
	height: 100%;
	margin-top: 36px;
}
.component__wrapper {
	height: 746px;
	padding: 32px 48px;
	background: #FFFFFF;
	box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
	border-radius: 12px;
}

.component__title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 38px;
	color: #495057;
	padding-bottom: 24px;
}

.component__histogram {
	max-width: 300px;
   padding: 16px 24px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   box-sizing: border-box;
   background: #FFFFFF;
   border: 1px solid #ACB5BD;
   border-radius: 8px;
}
.component__histogram_top {
   display: flex;
   justify-content: space-between;
}
.component__histogram_orders {
   display: block;
}
.component__histogram_title{
   margin: 0;
   font-size: 16px;
   line-height: 24px;
   color: #212429;
   opacity: 0.8;
}
.component__histogram_subtitle {
   margin-top: 6px;
   font-size: 20px;
   line-height: 26px;
   color: #212429;
}
.component__histogram_link {
   padding-top: 3px;
   text-decoration: none;
   font-size: 16px;
   line-height: 24px;
   text-align: right;
   color: #4263EB;
}

.component__histogram_bottom {
   margin-top: 39px;
}

.component__hictogram_chart {
   display: flex;
   gap: 1px;
   height: 50px;
   align-items: flex-end;
}
.component__hictogram_column {
   flex-basis: 9px;
   background: #4263EB;
}

.page__footer {
	text-transform: uppercase;
	display: flex;
	padding-bottom: 56px;
	letter-spacing: 0.04em;
	color: #ACB5BD;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.04em;
}

