.pages {
	display: grid;
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
	background: var(--pages-bg);
}

.pages__wrapper {
	height: 100%;
	display: grid;
	width: 100%;
	grid-template-columns: auto 1fr;
	grid-column-gap: 50px;
}

@media (max-width: 761px) {
	.pages__wrapper {
		display: flex;
		width: 100vw;
		justify-content: center;
		margin: 0 auto;
	}
}

@media (max-width: 610px) {
	.pages__wrapper {
		min-width: 400px;
		overflow-x: scroll;
	}
}