@media (max-width: 735px) {
	.card {
		width: 270px;
		height: 300px;
	}

	.modal__body {
		width: 80%;
		height: 70%;
	}

	.modal__body_page {
		max-width: 140px;
	}
	
	.modal__top-title_page {
		font-size: 8px;
		line-height: 10px;
		margin: 10px 0 0 10px;
	}

	.modal__text_page {
		font-size: 6px;
		line-height: 8px;
		padding: 8px;
	}

	.card_histogram {
		margin: 0 auto;
		min-width: 200px;
	}

	.calendar_page {
		max-width: 140px;
	}
	.calendar__title_page {
		line-height: 6px;
	}
	.calendar__item_day_page {
		margin-top: 8px;
	}

	.card_avatar {
		width: 116px;
		height: 116px;
	}
	
	.footer__wrapper {
		width: 70%;
	}

	.footer__title_large {
		font-size: 20px;
		line-height: 20px;
	}

	.footer__text {
		font-size: 16px;
		line-height: 16px;
	}
}

@media (max-width: 610px) {
	.header__title {
		font-size: 42px;
		margin-left: 16px;
		color: var(--grey-4)
	}

	.navbar__wrapper {
		display: none;
	}

	.header__btn {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		gap: 6px;
		margin-left: 19px;
		cursor: pointer;
		width: 24px;
		height: 24px;
		background: var(--white);
	}

	.header__btn div{
		width: 18px;
		height: 2px;
		background-color: var(--grey-4);
	}

	.header__logo {
		margin: 0 auto;
	}

	.card {
		width: 190px;
		height: 300px;
	}
	
	.card__title {
	font-size: 16px;
	line-height: 24px;
	}

	.card__text {
		font-size: 14px;
		line-height: 22px;
	}

	.tooltip__helper {
		padding: 4px 10px;
		font-size: 13px;
	}

	.modal__text_page {
		font-size: 6px;
		line-height: 6px;
		padding: 8px;
	}

	.card_histogram {
		min-width: 140px;
	}

	.histogram__title{
		margin: 0;
		font-size: 8px;
		line-height: 16px;
	}
	.histogram__subtitle {
		margin-top: 0;
		font-size: 6px;
		line-height: 12px;
	}
	.histogram__link {
		padding-top: 3px;
		font-size: 6px;
		line-height: 16px;
	}
	.histogram__bottom {
		margin-top: 10px;
	}

	.footer__title_large {
		font-size: 16px;
	}

	.footer__text {
		font-size: 12px;
	}
}

@media (max-width: 410px) {
	.header__title {
		font-size: 28px;
		line-height: 38px;
	}

	.card {
		width: 164px;
		height: 231px;
	}

	.card__title {
		font-size: 14px;
	}

	.card__text {
		font-size: 12px;
	}

	.calendar_page {
		padding: 10px 10px;
		max-width: 120px;
	}

	.calendar__item_page {
		line-height: 14px;
	}
	.calendar__item_day_page {
		font-size: 7px;
		margin-top: 4px;
	}
	.calendar__title_page {
		font-size: 8px;
		line-height: 4px;
	}

	.modal__text_page {
		font-size: 3px;
	}

	.card_histogram {
		min-width: 114px;
	}

	.card_avatar {
		margin-top: 0;
	}
}