.burger-menu {
   position: fixed;
   left: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
   background: var(--grey-5);
   transform: translateX(-100vw);
   transition: transform 200ms linear;
	z-index: 3;
}

.burger-menu[data-open] {
	z-index: 2;
   transform: translateX(0);
}

.burger-menu__close {
   border: none;
   border-radius: 50%;
}

.menu-open {
	padding: 20px;
}
.menu-open__btn {
   border: none;
}

.burger__navigation {
   display: flex;
	flex-direction: column;
	padding: 20px 0;
	
}

.burger-menu__header {
   display: flex;
   padding: 20px;
   border-bottom: 1px solid var(--grey-2);
}

.burger__logo {
	margin: 0 auto;
}

.burger__navigation {
   padding: 24px 20px;
}

.burger__navigation .menu__item {
	padding-bottom: 16px;
}

