.component-section {
	padding: 32px 48px;
	background: var(--main-bg);
	box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
	border-radius: 12px;
}

.component-section__title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 38px;
	color: var(--page-text);
	padding-bottom: 24px;
}

.component-section__body {
	padding: 32px 106px 64px 42px;
}