
.elements {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding-top: 30px;
	pointer-events: none;
}

.elements__element {
	display: flex;
	flex-direction: column;
	gap: 16px;
}


.elements__checkbox .checkbox__title {
	font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: var(--color-element);
}

.elements__checkbox {
	display: inline-block;
	position: relative;
}

.elements__checkbox .checkbox__input {
	position: absolute;
	outline: none;
	clip: rect(0,0,0,0);
}

.elements__checkbox .checkbox__state {
	display: flex;
	align-items: center;
	gap: 12px;
	cursor: disabled;
}

.elements__checkbox .checkbox__control {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 28px;
	height: 28px;
	background: var(--white-bg);
	border: 1px solid var(--border-preview);
	border-radius: 4px;
}

.elements__checkbox .checkbox__icon {
	display: none;
	width: 24px;
	height: 24px;
	fill: var(--white-bg);
}


.elements__checkbox .checkbox__input:checked ~ .checkbox__state .checkbox__control {
	background: var(--primary-2);
	border-color: var(--primary-2);
}

.elements__checkbox .checkbox__input:disabled ~ .checkbox__state .checkbox__icon{
	background: var(--border-preview);
	cursor: default;
}

.elements__radio {
	display: inline-block;
	position: relative;
}

.elements__radio .radio__title {
	font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: var(--color-element);
}

.elements__radio .radio__input {
   position: absolute;
   outline: none;
   clip: rect(0,0,0,0);
}

.elements__radio .radio__state {
   display: flex;
   align-items: center;
   gap: 12px;
   cursor: pointer;
}

.elements__radio .radio__control {
   display: flex;
   align-items: center;
   justify-content: center;
   box-sizing: border-box;
   width: 28px;
   height: 28px;
   background: var(--white);
   border: 1px solid var(--grey-2);
   border-radius: 14px;
}

.elements__radio .radio__icon {
   display: none;
}

.elements__radio .radio__input:checked ~ .radio__state .radio__control {
	border: 2px solid var(--blue-2);
}

.elements__radio .radio__input:checked ~ .radio__state .radio__icon {
	display: block;
	border-radius: 14px;
   width: 18px;
   height: 18px;
   background: var(--blue-2);
}

.elements__radio .radio__input:focus ~ .radio__state .radio__title {
   text-decoration: underline;
}

.elements__radio .radio__input:disabled ~ .radio__state .radio__control{
   background-color: var(--grey-2);
}

.elements__radio .radio__input:disabled ~ .radio__state {
   cursor: default;
}

.elements__radio .radio__input:disabled ~ .radio__state .radio__title{
   cursor: default;
   color: var(--grey-2);
}

.elements__radio .elements_radio .radio__state {
	cursor: disabled;
}




@media (max-width: 735px) {
	.elements__checkbox .checkbox__control {
		width: 20px;
		height: 20px;
	}

	.elements__checkbox .checkbox__control {
		padding: 2px;
	}

	.elements__radio .radio__control {
		width: 20px;
		height: 20px;
	}

	.elements__radio .radio__input:checked ~ .radio__state .radio__icon {
		display: block;
		border-radius: 14px;
		width: 10px;
		height: 10px;
		background: var(--blue-2);
	}

}

@media (max-width: 610px) {
	.elements__checkbox .checkbox__title {
		display: none;
	}
	.elements__radio .radio__title {
		display: none;
	}
}
