.histogram {
	padding: 16px 24px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	box-sizing: border-box;
	background: var(--main-bg);
	border: 1px solid var(--grey-7);
	border-radius: 8px;
}
.histogram__top {
	display: flex;
	justify-content: space-between;
}
.histogram__orders {
	display: block;
}
.histogram__title{
	margin: 0;
	font-size: 16px;
	line-height: 24px;
	color: var(--text-primary);
	opacity: 0.8;
}
.histogram__subtitle {
	margin-top: 6px;
	font-size: 20px;
	line-height: 26px;
	color: var(--text-primary);
}
.histogram__link {
	padding-top: 3px;
	text-decoration: none;
	font-size: 16px;
	line-height: 24px;
	text-align: right;
	color: var(--primary-2);
}
.histogram__bottom {
	margin-top: 39px;
}

.hictogram__chart {
	display: flex;
	gap: 1px;
	height: 50px;
	align-items: flex-end;
}
.histogram__column {
	flex-basis: 9px;
	background: var(--primary-2);
}

.histogram_page {
	margin-top: 29px;
	padding: 12px 16px;
}

.histogram-page__html {
	width: 100%;
	font-size: 12px;
	line-height: 16px;
	overflow-x: auto;
}

.histogram-page__css {
	font-size: 12px;
	line-height: 16px;
	overflow-x: auto;
}

@media (max-width: 735px) {
	.histogram_page {
		margin: 0 auto;
		min-width: 200px;
	}

	.histogram_page .histogram__title {
		font-size: 12px;
	}

	.histogram_page .histogram__subtitle {
		font-size: 12px;
	}

	.histogram_page .histogram__link {
		font-size: 12px;
	}
}

@media (max-width: 610px) {
	.histogram_page {
		min-width: 140px;
	}

	.histogram_page .histogram__title{
		margin: 0;
		font-size: 8px;
		line-height: 16px;
	}
	.histogram_page .histogram__subtitle {
		margin-top: 0;
		font-size: 6px;
		line-height: 12px;
	}
	.histogram_page .histogram__link {
		padding-top: 3px;
		font-size: 6px;
		line-height: 16px;
	}
	.histogram_page .histogram__bottom {
		margin-top: 10px;
	}
}

@media (max-width: 410px) {
	.histogram_page {
		min-width: 114px;
	}
}